Repository kubeflow/metadata, pull requests merged in 2019-12, with the labels that each got.

#177 Fix initial state of LineageViewActionBar
  frontend/src/pages/ArtifactDetails.tsx
  frontend/src/pages/LineageView.tsx
  frontend/src/pages/__snapshots__/ArtifactDetails.test.tsx.snap
Labels: approved, area/front-end, area/metadata, lgtm, size/XL

#176 Created a powershell script to generate data identically to its bash counterpart
  test/e2e/Make-Requests.ps1
Labels: approved, area/front-end, area/metadata, lgtm, priority/p1, size/M

#180 [Windows] Changes to allow docker building on windows
  frontend/Dockerfile
  frontend/docker_build.js
  frontend/package.json
Labels: approved, area/front-end, area/metadata, lgtm, priority/p1, size/M

#179 Initial pass of fetching data from gRPC backend and click to update
  frontend/src/components/LineageCard.tsx
  frontend/src/components/LineageCardRow.tsx
  frontend/src/components/LineageTypes.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/ArtifactDetails.test.tsx
  frontend/src/pages/LineageView.tsx
  frontend/src/pages/__snapshots__/ArtifactDetails.test.tsx.snap
Labels: approved, area/front-end, area/metadata, kind/feature, lgtm, size/XXL

#181 [Windows] Follow up to #180 with nits resolved
  frontend/docker_build.js
Labels: approved, area/front-end, area/metadata, lgtm, priority/p1, size/XS

#183 Reduce EdgeCanvas width to 120px and parameterize card and edge width
  frontend/src/Css.tsx
  frontend/src/components/EdgeCanvas.tsx
  frontend/src/components/LineageCard.css
  frontend/src/components/LineageCard.tsx
  frontend/src/components/LineageCardColumn.css
  frontend/src/components/LineageCardColumn.tsx
  frontend/src/components/LineageCss.ts
  frontend/src/pages/__snapshots__/ArtifactDetails.test.tsx.snap
Labels: approved, area/front-end, area/metadata, kind/feature, lgtm, size/XL

#185 Move LineageView key sizes to LineageView props
  frontend/src/Css.tsx
  frontend/src/components/EdgeCanvas.tsx
  frontend/src/components/LineageCard.tsx
  frontend/src/components/LineageCardColumn.tsx
  frontend/src/components/LineageCss.ts
  frontend/src/pages/ArtifactDetails.tsx
  frontend/src/pages/LineageView.tsx
  frontend/src/pages/__snapshots__/ArtifactDetails.test.tsx.snap
Labels: approved, area/front-end, area/metadata, lgtm, size/L

#178 Add a MLMD context for every `workspace` & update notebook example
  sdk/python/Makefile
  sdk/python/README.md
  sdk/python/kubeflow/metadata/metadata.py
  sdk/python/sample/demo.ipynb
  sdk/python/setup.py
  sdk/python/tests/__init__.py
  sdk/python/tests/run_tests.sh
  sdk/python/tests/test_metadata.py
  test/scripts/setup-services-run-tests.sh
Labels: approved, lgtm, size/XL

#187 Change ubuntu python3.6 PPA
  test/scripts/setup-services-run-tests.sh
Labels: approved, lgtm, size/XS

#186 MLMD SDK Notebook spelling nits
  sdk/python/sample/demo.ipynb
Labels: approved, area/front-end, area/metadata, lgtm, priority/p1, size/S

#182 Add third party licenses into docker image
  Dockerfile
  test/scripts/unittests.sh
  third_party/library/license.txt
  third_party_licenses/README.md
  third_party_licenses/additional_license_info.csv
  third_party_licenses/concatenate_license.py
  third_party_licenses/dep.txt
  third_party_licenses/dep_repo.manual.csv
  third_party_licenses/license_info.csv
  third_party_licenses/patch_additional_license_info.py
  third_party_licenses/repo.txt
Labels: approved, do-not-merge/hold, lgtm, size/XXL

#188 LineageView card loading updates
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CustomTable.tsx
  frontend/src/components/EdgeCanvas.tsx
  frontend/src/components/LineageApi.ts
  frontend/src/components/LineageCard.tsx
  frontend/src/components/LineageCardColumn.tsx
  frontend/src/components/LineageCss.ts
  frontend/src/components/LineageUtils.ts
  frontend/src/lib/Utils.tsx
  frontend/src/pages/ArtifactList.test.tsx
  frontend/src/pages/ArtifactList.tsx
  frontend/src/pages/LineageView.tsx
  frontend/src/pages/__snapshots__/ArtifactDetails.test.tsx.snap
Labels: approved, area/front-end, area/metadata, kind/feature, lgtm, size/XXL

#189 Add more Promise.all() in LineageView to optimize data loading
  frontend/src/pages/LineageView.tsx
Labels: approved, area/front-end, area/metadata, kind/feature, lgtm, size/M

#190 Use papermill to exec Notebook
  sdk/python/sample/demo.ipynb
  sdk/python/tests/run_tests.sh
  sdk/python/tests/test_notebook.py
  test/scripts/setup-services-run-tests.sh
Labels: approved, lgtm, size/L
