Repository kubeflow/metadata, pull requests merged in 2020-02, with the labels that each got.

#211 [MLMD Lineage] Integrate LineageView changes to add navigation to card resources
  frontend/package-lock.json
  frontend/package.json
  frontend/server/package-lock.json
  frontend/server/package.json
  frontend/server/server.ts
  frontend/src/pages/ArtifactDetails.tsx
  frontend/src/pages/__snapshots__/ArtifactDetails.test.tsx.snap
Labels: approved, area/front-end, area/metadata, lgtm, size/XXL

#215 Fix broken links and update dependencies
  sdk/python/README.md
  sdk/python/kubeflow/metadata/metadata.py
  sdk/python/setup.py
  sdk/python/tests/run_tests.sh
  sdk/python/tests/test_metadata.py
  third_party/library/license.txt
Labels: approved, lgtm, size/M

#216 [MLMD] Final updates to lineage view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/TestUtils.ts
  frontend/src/atoms/MD2Tabs.test.tsx
  frontend/src/atoms/MD2Tabs.tsx
  frontend/src/components/CustomTable.tsx
  frontend/src/components/ModelInfo.test.tsx
  frontend/src/components/ModelInfo.tsx
  frontend/src/components/ResourceInfo.test.tsx
  frontend/src/components/ResourceInfo.tsx
  frontend/src/lib/Utils.tsx
  frontend/src/pages/ArtifactDetails.test.tsx
  frontend/src/pages/ArtifactDetails.tsx
  frontend/src/pages/ArtifactList.test.tsx
  frontend/src/pages/ArtifactList.tsx
  frontend/src/pages/ExecutionDetails.tsx
  frontend/src/pages/ExecutionList.tsx
Labels: approved, area/front-end, area/metadata, lgtm, priority/p0, size/XXL
