Repository kubeflow/metadata, pull requests merged in 2020-01, with the labels that each got.

#197 Fix typo in demo.ipynb
  sdk/python/sample/demo.ipynb
Labels: approved, lgtm, size/XS

#205 Update the license.txt
  third_party/library/license.txt
Labels: approved, lgtm, size/XS

#200 [MLMD Lineage] Execution Grouping Support added for Lineage View
  frontend/src/components/LineageApi.ts
  frontend/src/components/LineageCard.tsx
  frontend/src/components/LineageCardColumn.tsx
  frontend/src/pages/LineageView.tsx
Labels: area/front-end, area/metadata, priority/p1, size/M

#199 [MLMD Lineage] Style changes to scale view for normal laptop screens
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Css.tsx
  frontend/src/components/LineageCard.tsx
  frontend/src/components/LineageCardRow.css
  frontend/src/pages/LineageView.tsx
Labels: approved, area/front-end, area/metadata, lgtm, priority/p1, size/XXL

#209 [MLMD] [Perms] Added me and @kwasi as owners of metadata
  OWNERS
Labels: approved, area/front-end, area/metadata, lgtm, priority/p0, size/XS

#210 [MLMD] Refactored server TS code
  frontend/server/server.ts
Labels: approved, area/front-end, area/metadata, lgtm, priority/p1, size/M
